In [1]:
n = 300
print(n)

300

In [2]:
n = 1000
print(n)

1000

In [3]:
n

1000

In [5]:
# Chained Assignment
a = b = c = 300
print(a, b, c)

300 300 300

In [6]:
var = 23.5
print(var)

23.5

In [7]:
var = "Now I'm a string"
print(var)

Now I'm a string

In [8]:
print(300)

300

In [9]:
type(300)

int

In [10]:
n = 300

In [11]:
print(n)

300

In [12]:
type(n)

int

In [13]:
# This assignment (n=300) creates an integer object with the value 300 and assigns the variable n to point to that object

In [14]:
m = n

In [15]:
m = 400

In [16]:
n = 'foo'

## Object's Integer Identifier

In [17]:
id(n)

2335342826224

In [18]:
id(m)

2335394378416

In [19]:
m = n

In [21]:
id(m)

2335342826224

In [20]:
id(n)

2335342826224

In [31]:
m = 300
n = 300

In [32]:
id(m)

2335394379472

In [33]:
id (n)

2335394379216

In [34]:
m = 30
n = 30

In [35]:
id(m)

140712041259680

In [36]:
id (n)

140712041259680

## Variable Names

In [37]:
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

In [39]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Camel Case:  numberOfCollegeGraduates
## Pascal Case: NumberOfCollegeGraduates
## Snake Case: number_of_college_graduates

In [44]:
import keyword
keyword. kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [45]:
for = 3

SyntaxError: invalid syntax (Temp/ipykernel_11312/191355952.py, line 1)